n8n/backup/workflows/ollama_tool_agent.json
[{"createdAt":"2025-03-01T03:33:50.286Z","updatedAt":"2025-03-05T05:01:18.000Z","id":"VQ1kvmwydKgLhBbu","name":"Ollama Tool Agent","active":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"d92430cc-75ae-4ba8-8f26-71979b35b505","name":"When chat message received","webhookId":"c5914b14-624c-40f0-be71-c2bcfb8f7d5e"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[460,100],"id":"86d7c882-b27a-4179-b009-3477b1155531","name":"AI Agent"},{"parameters":{"model":"llama3:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[420,320],"id":"512d23ed-b09e-4638-ade3-5dc89624f9e0","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"UkjiRGi2USxubvQ4","name":"Ollama account"}}},{"parameters":{"assignments":{"assignments":[{"id":"75ebfdef-c8e2-4c3e-b716-1479d0cc2a73","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"59b7a20f-0626-4861-93e2-015d430c266e","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"55bdfb1f-c099-4089-8afd-738718eddafe","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,100]},{"parameters":{"httpMethod":"POST","path":"invoke_n8n_agent","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,240],"id":"7bb65cdd-71af-4133-910f-be795e2f2c83","name":"Webhook","webhookId":"204c1787-5782-4249-9b46-8803e2c2c46a"},{"parameters":{"options":{}},"id":"124ba8c0-4753-4846-aa56-4e18fdc637fe","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,100]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[580,320],"id":"20a60afe-df75-4e29-94d8-fc55269994a8","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"yWnDv3SSmRGn5Cv6","name":"Postgres account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b55ae5b1-fcc3-4431-b540-df4fb35ba4bf","triggerCount":3,"tags":[]}]